// body{
//     background-color: antiquewhite;
// }
// .l-header{
//     width: 100%;
// }
// .l-header-logo{
//     text-align: center;
//     background-color: #000;
//     color: #fff;
//     padding: 7px;
// }
// .l-header-nav{
//     display: flex;
//     justify-content: center;
//     & .nav__menu{
//         display: flex;
//         gap: 10px 16px;
//     }
// }
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
  

h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 7px;
    }

&__nav{
    display: flex;
    justify-content: center;
    width: 100%;
    

    & .nav-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        &__link{
            background-color: #eec4dc;
            border-right:3px solid #fff;
            border-left:3px solid #fff;
            list-style: none;
            width: calc(100%/3);
            padding: 10px;
            a{
                text-decoration: none;
            }
        }       
    }
}
}
.l-block{
    width: 1170px;
    margin: 0 auto;
    margin-top: 10%;
&__img{
        display: flex;
        flex-wrap: wrap;
        gap: 10px 16px;
        // justify-content: center;
    &__box{
     width: 290px;
      &__img{
        width: 100%;
      }
      &__link{
        width: 100%;
        & .c-btn{
            background-color: #f00;
        }
      }
    }
    }
&.l-block-faq{

    .faq__box{
        h2{
            background-color: #eec4dc;
        }
    }
    }
}
h2{
    background-color: #ff0;
    padding: 10px;
}

.l-footer{
    background-color: black;
    padding: 10px;
    color: #fff;
    text-align: center;
}




